/* Resets */
body, p
{
    margin: 0;
}

/* Box Sizing */
html
{
    box-sizing: border-box;
}
*, *:before, *:after
{
    box-sizing: inherit;
}

/* General */
.wrapper
{
    background-color: black;
    color: white;
    font-size: 2.1vw;
    font-family: Courier New;
    padding: 1rem;
    height: 100vh;
}
.input
{
    background: none;
    border: none;
    color: white;
    font-size: 0.85rem;
}
.textDiv
{
    height: 65vh;
    overflow-x: hidden;
}
.footer
{
    font-size: 0.75rem;
    padding-top: 0.5rem;
    border-top: 1px dotted white;
}
.header__top-row
{
    justify-content: space-between;
}
.textDiv__title
{
    font-size: 1.5rem;
    font-weight: bold;
}
.textDiv__subtitle
{
    margin-bottom: 0.75rem;
}
.textDiv__location
{
    font-weight: bold;
}
.textDiv__location-body
{
    margin-bottom: 0.75rem;
    white-space: pre-line;
}
.textDiv__message, .textDiv__response
{
    margin-top: 0;
    white-space: pre-line;
}
.inventoryDiv
{
    flex: 1 1 auto;
}
.inventoryItem
{
    width: 100%;
    margin: 3px 0;
    display: inline-block;
    background-color: rgba(100, 100, 100, 0.5);
}
.inventoryItem:hover
{
    width: 100%;
    margin: 3px 0;
    display: inline-block;
    background-color: rgba(100, 100, 100, 0.85);
}
canvas
{
    width: 13rem;
    display: block;
    border: 1px solid white;
}

/* Generics */
.is-flex
{
    display: flex;
}
.center-text
{
    text-align: center;
}

/* Media Queries */
@media only screen and (min-width: 1275px)
{
    .wrapper
    {
        font-size: 1.25vw;
    }
    .input
    {
        font-size: 1.5rem;
    }
}
