/* Resets */
body, p
{
    margin: 0;
}

/* Box Sizing */
html
{
    box-sizing: border-box;
}
*, *:before, *:after
{
    box-sizing: inherit;
}

/* General */
.wrapper
{
    background-color: black;
    color: white;
    font-size: 2.1vw;
    font-family: Courier New;
    height: 100vh;
    padding: 1rem;
}
.input
{
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
}
.textDiv
{
    height: 65vh;
    overflow-x: hidden;
}
.footer
{
    font-size: 0.8rem;
    padding-top: 0.5rem;
    border-top: 1px dotted white;
}
.header__top-row
{
    display: flex;
    justify-content: space-between;
}
.textDiv__title
{
    font-size: 1.5rem;
    font-weight: bold;
}
.textDiv__subtitle
{
    margin-bottom: 1.5rem;
}
.textDiv__location
{
    font-weight: bold;
}
.textDiv__location-body
{
    margin-bottom: 0.75rem;
    white-space: pre-line;
}
.textDiv__message
{
    white-space: pre-line;
}
canvas
{
    width: 13rem;
    display: block;
    border: 1px solid white;
}

/* Generics */
.center-text
{
    text-align: center;
}

/* Media Queries */
@media only screen and (min-width: 1275px)
{
    .wrapper
    {
        font-size: 1.25vw;
    }
    .input
    {
        font-size: 1.5rem;
    }
}
